{
  "extends": [
    "@antfu"
  ],
  "rules": {
    "react/display-name": "off",
    "react-hooks/rules-of-hooks": "off",
    "no-sequences": "off",
    "no-alert": "off",
    "no-console": [
      "error",
      {
        "allow": [
          "error"
        ]
      }
    ]
  }
}
