/* /**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  /* --vp-c-accent: #dab40b;
  --vp-c-brand: #6da13f;
  --vp-c-brand-light: #7ec242;
  --vp-c-brand-lighter: #93d31c;
  --vp-c-brand-dark: #668d11;
  --vp-c-brand-darker: #52730d; */
  /* --vp-c-text-code: #5d6f5d; */
  --vp-code-block-bg: rgba(125,125,125,0.04);
  /* fix TIP on light: the default one is too light (2 in contrast) */
  --vp-custom-block-tip-text: rgb(12, 124, 108);
  --vp-custom-block-tip-border: rgba(12, 124, 108, 0.5);
  --vp-custom-block-tip-bg: rgba(18, 181, 157, 0.1);
  /* fix contrast on gray cards: used by --vp-c-text-2 */
  /* --vp-c-text-light-2: rgba(56 56 56 / 70%); */
}

.dark {
  --vp-code-block-bg: rgba(0,0,0,0.2);
  --vp-c-text-code: #c0cec0;
  /* fix TIP: check the same above (these are the defaults) */
  --vp-custom-block-tip-text: rgb(18, 181, 157);
  --vp-custom-block-tip-border: rgba(18, 181, 157, 0.5);
  --vp-custom-block-tip-bg: rgba(18, 181, 157, 0.1);
  /* fix contrast on gray cards: check the same above (this is the default) */
  --vp-c-text-dark-2: rgba(235, 235, 235, 0.60);
}

.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}

.vp-doc table {
  display: table;
  width: 100%;
  font-size: 14px;
}

.vp-doc h1,h2,h3,h4,h5, strong,b {
  font-weight: 600;
  color:#606266 ;
}

.VPSocialLink {
  transform: scale(0.9);
}

.vp-doc tr th {
  font-size: 14px;
  font-weight: bold;
}

.vp-doc th, .vp-doc td {
  padding: 6px 10px;
  border: 1px solid #8882;
}
