/* /**
 * Colors
 * -------------------------------------------------------------------------- */
:root {
  --vp-code-block-bg: rgba(125, 125, 125, 0.04);
  --vp-custom-block-tip-text: rgb(12, 124, 108);
  --vp-custom-block-tip-border: rgba(12, 124, 108, 0.5);
  --vp-custom-block-tip-bg: rgba(18, 181, 157, 0.1);
  --vp-custom-title-text: #606266;
  --vp-layout-max-width: 1580px;
  --vp-sidebar-width: 252px;
  --vp-code-font-size: .92em;
  --n-td-color: #fff;
  --n-td-color-hover: rgb(247, 247, 250, 1);
  --n-td-color-modal: #fff;
  --n-td-color-popover: #fff;
  --n-td-text-color: rgb(51, 54, 57);
  --n-border-color: rgba(239, 239, 245, 1);
  --n-border-color-modal: rgba(239, 239, 245, 1);
  --n-border-color-popover: rgba(239, 239, 245, 1);
  --n-border-radius: 3px;
  --n-font-size: 14px;
  --vp-code-tab-active-text-color: var(--vp-c-text-1);
  --vp-code-copy-code-active-text: var(--vp-c-text-2);
  --n-th-color: rgba(250, 250, 252, 1);
  --n-th-color-modal: rgba(250, 250, 252, 1);
  --n-th-color-popover: rgba(250, 250, 252, 1);
  --n-th-font-weight: 500;
  --n-th-text-color: rgb(31, 34, 37);
  --n-line-height: 1.6;
  --n-td-padding: 12px;
  --n-th-padding: 12px;
  --n-td-color-striped: rgba(250, 250, 252, 1);
  --n-td-color-striped-modal: rgba(250, 250, 252, 1);
  --n-td-color-striped-popover: rgba(250, 250, 252, 1);
  --n-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --n-text-color: rgb(51, 54, 57);
  --n-font-weight-strong: 500;
  --n-font-famliy-mono: v-mono, SFMono-Regular, Menlo, Consolas, Courier,
    monospace;
  --n-code-border-radius: 2px;
  --n-code-text-color: rgb(51, 54, 57);
  --n-code-color: rgb(244, 244, 248);
  --n-code-border: 1px solid #0000;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #42d392 30%,
    #647eff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #70E6FB 50%,
    #42d392 50%
  );
  --vp-home-hero-image-filter: blur(40px);

  --vp-code-tab-divider: var(--vp-c-divider);
  --vp-code-copy-code-bg: rgba(125,125,125,0.1);
  --vp-code-copy-code-hover-bg: rgba(125,125,125,0.2);
  --vp-c-disabled-bg: rgba(125,125,125,0.2);
  --vp-code-tab-text-color: var(--vp-c-text-2);
  --vp-code-tab-hover-text-color: var(--vp-c-text-1);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

.dark {
  --vp-code-block-bg: rgba(0, 0, 0, 0.2);
  --vp-c-text-code: #c0cec0;
  --vp-custom-block-tip-text: rgb(18, 181, 157);
  --vp-custom-block-tip-border: rgba(18, 181, 157, 0.5);
  --vp-custom-block-tip-bg: rgba(18, 181, 157, 0.1);
  --vp-c-text-dark-2: rgba(235, 235, 235, 0.6);
  --vp-custom-title-text: #cfd3dc;

  --n-td-color: rgb(24, 24, 28);
  --n-td-color-hover: rgb(38, 38, 42, 1);
  --n-td-color-modal: rgb(44, 44, 50);
  --n-td-color-popover: rgb(72, 72, 78);
  --n-td-text-color: rgba(255, 255, 255, 0.82);
  --n-border-color: rgba(45, 45, 48, 1);
  --n-border-color-modal: rgba(63, 63, 68, 1);
  --n-border-color-popover: rgba(88, 88, 94, 1);
  --n-th-color: rgba(38, 38, 42, 1);
  --n-th-color-modal: rgba(57, 57, 62, 1);
  --n-th-color-popover: rgba(83, 83, 89, 1);
  --n-th-text-color: rgba(255, 255, 255, 0.9);
  --n-td-color-striped: rgba(36, 36, 39, 1);
  --n-td-color-striped-modal: rgba(55, 55, 60, 1);
  --n-td-color-striped-popover: rgba(81, 81, 87, 1);
  --n-text-color: rgba(255, 255, 255, 0.82);
  --n-font-weight-strong: 500;
  --n-font-famliy-mono: v-mono, SFMono-Regular, Menlo, Consolas, Courier,
    monospace;
  --n-code-border-radius: 2px;
  --n-code-text-color: rgba(255, 255, 255, 0.82);
  --n-code-color: rgba(255, 255, 255, 0.12);
  --n-code-border: 1px solid #0000;
  --vp-code-tab-text-color: var(--vp-c-text-dark-2);
  --vp-code-tab-active-text-color: var(--vp-c-text-dark-1);
  --vp-code-tab-hover-text-color: var(--vp-c-text-dark-1);
  --vp-code-copy-code-active-text: var(--vp-c-text-dark-2);
}


/* Safari has a very bad performance on gradient and filter */
.browser-safari, .browser-firefox {
  --vp-home-hero-image-background-image: transparent;
  --vp-home-hero-image-filter: '';
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}

.vp-doc table {
  display: table;
  font-size: var(--n-font-size);
  font-variant-numeric: tabular-nums;
  line-height: var(--n-line-height);
  width: 100%;
  border-radius: var(--n-border-radius) var(--n-border-radius) 0 0;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  background-color: var(--n-td-color);
  border: 1px solid var(--n-merged-border-color);
  transition: background-color 0.3s var(--n-bezier),
    border-color 0.3s var(--n-bezier), color 0.3s var(--n-bezier);
  --n-merged-border-color: var(--n-border-color);
}

.vp-doc table th {
  white-space: nowrap;
  transition: background-color 0.3s var(--n-bezier),
    border-color 0.3s var(--n-bezier), color 0.3s var(--n-bezier);
  text-align: inherit;
  padding: var(--n-th-padding);
  vertical-align: inherit;
  text-transform: none;
  border: 0px solid var(--n-merged-border-color);
  font-weight: var(--n-th-font-weight);
  color: var(--n-th-text-color);
  background-color: var(--n-th-color);
  border-bottom: 1px solid var(--n-merged-border-color);
  border-right: 0px solid var(--n-merged-border-color);
}

.VPDoc.has-aside .content-container {
  max-width: 100% !important;
}

.vp-doc table td:first-child {
  width: 15%;
  font-weight: 600;
  font-family: v-mono, monospace;
  white-space: nowrap;
}

.vp-doc table tr {
  box-sizing: border-box;
  background-clip: padding-box;
  transition: background-color 0.3s var(--n-bezier);
}

.vp-doc table tbody tr:hover {
  background-color: var(--n-td-color-hover);
}
.vp-doc table tbody tr:hover td {
  background: none;
}

.vp-doc table td {
  transition: background-color 0.3s var(--n-bezier),
    border-color 0.3s var(--n-bezier), color 0.3s var(--n-bezier);
  padding: var(--n-td-padding);
  color: var(--n-td-text-color);
  background-color: var(--n-td-color);
  border: 0px solid var(--n-merged-border-color);
  min-width: 110px;
}

.vp-doc table tr:not(:last-child) td {
  border-bottom: 0px solid var(--n-merged-border-color);
}

.vp-doc pre, code, kbd, samp {
  font-family: 'DM mono';
  font-weight: 500;
}

.vp-doc :not(pre) > code {
  line-height: 1.4;
  display: inline-block;
  font-family: var(--n-font-famliy-mono);
  transition: color 0.3s var(--n-bezier), border-color 0.3s var(--n-bezier),
    background-color 0.3s var(--n-bezier) !important;
  box-sizing: border-box;
  padding: 0.05em 0.35em 0 0.35em !important;
  border-radius: var(--n-code-border-radius) !important;
  color: var(--n-code-text-color) !important;
  background-color: var(--n-code-color) !important;
  border: var(--n-code-border) !important;
}

.vp-doc h1,
h2,
h3,
h4,
h5,
strong,
b {
  font-weight: 600;
  color: var(--vp-custom-title-text);
}

.VPSocialLink {
  transform: scale(0.9);
}

.vp-doc tr th {
  font-size: 14px;
  font-weight: bold;
}

.vp-doc th,
.vp-doc td {
  padding: 6px 10px;
  border: 1px solid #8882;
}

.vp-doc .VPTeamMembers.medium.count-1 .container {
  max-width: 368px!important;
}

.vp-code-group .tabs label {
  background-color: transparent;
}

table {
  width: 100% !important;
  display: table;
}

.custom-block.tip .custom-block-title {
  color: var(--vp-c-brand);
}

.VPHero .image-bg {
  z-index: 1;
  opacity: 0.8;
  transition: opacity 1s ease;
}

.VPHero .image-container:hover .image-bg {
  opacity: 0.2;
}


/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

/*
  Use lighter colors for links in dark mode for a11y.
  Also specify some classes twice to have higher specificity
  over scoped class data attribute.
*/
.dark .vp-doc a,
.dark .vp-doc a > code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
  color: var(--vp-c-brand-lighter);
}

.dark .vp-doc a:hover,
.dark .vp-doc a > code:hover {
  /* color: var(--vp-c-brand-lightest); */
  opacity: 1;
}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}
