:root {
  /* --vp-c-text-1: hsl(var(--onu-color-DEFAULT) / 1); */
  /* --vp-c-text-2: hsl(var(--onu-color-500) / 1); */
  /* --vp-c-text-3: hsl(var(--onu-color-800) / 1); */

  --vp-c-brand-1: hsl(var(--onu-color-500) / 1); 
  --vp-c-brand-2: hsl(var(--onu-color-600) / 1);
  --vp-button-brand-bg: hsl(var(--onu-color-DEFAULT) / 1);
  --vp-button-brand-hover-bg: hsl(var(--onu-color-600) / 1);
}

.dark {
  --vp-c-brand-2: hsl(var(--onu-color-400) / 1);
}


.VPHero .image-container:hover .image-bg {
  opacity: 0.4;
}

.VPHero .image-container .image-bg {
  opacity: 1;
  transition: opacity .6s ease;
}

.VPTeamMembersItem .profile {
  display: flex;
  flex-direction: column;
}

strong a {
  font-weight: 600;
}
